
            h1 {color: rgb(45, 45, 255);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 30px;
            }

            h2 {color: rgb(21, 62, 0);
            }

            p {color:rgb(255, 69, 0);
                font-family: Arial, Helvetica, sans-serif;
            }

            header {
                position: absolute;
                width: 1349px;
                height: 100px;
                left: -1px;
                top: 0px;

                background: #9BFFAB;
            }

            main {
                position: absolute;
                width: 1349px;
                height: 1100px;
                left: 0px;
                top: 140px;

                background: #00D770;
            }

            footer {
                position: absolute;
                width: 1349px;
                height: 100px;
                left: 0px;
                top: 1180px;

                background: #8CFFA5;
            }

            nav {
                position: absolute;
                width: 1349px;
                height: 64px;
                left: 0px;
                top: 100px;
                
                background: #228300;
            }
