
            h1 {color: rgb(0, 0, 0);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 30px;
            }

            h2 {color: rgb(0, 0, 0);
            }

            p {color:rgb(0, 0, 0);
                font-family: Arial, Helvetica, sans-serif;
            }

            header {
                position: absolute;
                width: 1348px;
                height: 100px;
                left: -1px;
                top: 0px;

                background: #9BFFAB;
            }

            main {
                position: absolute;
                width: 1348px;
                height: 1095px;
                left: 0px;
                top: 164px;

                background: #00D770;
            }

            footer {
                position: absolute;
                width: 1348px;
                height: 100px;
                left: 0px;
                top: 1180px;

                background: #8CFFA5;
            }

            nav {
                position: absolute;
                width: 1348px;
                height: 64px;
                left: 0px;
                top: 100px;

                background: #228300;
            }

            button {
                width: 150px;
                height: 35px;
                left: 200px;
                top: 0px;
                margin-block-end: 10px;
                margin-right: 20px;
                
                background: linear-gradient(0deg, #175800, #175800), #175800;
            }
