
            header {
                position: absolute;
                width: 1305px;
                height: 100px;
                left: -1px;
                top: 0px;

                background: #9BFFAB;
            } main {
                position: absolute;
                width: 1305px;
                height: 1095px;
                left: -1px;
                top: 164px;

                background: #00D770;
            } footer {
                position: absolute;
                width: 1305px;
                height: 100px;
                left: -1px;
                top: 1180px;

                background: #8CFFA5;
            } nav {
                position: absolute;
                width: 1305px;
                height: 64px;
                left: 0px;
                top: 100px;

                background: #228300;
            } button {
                width: 150px;
                height: 35px;
                left: 200px;
                top: 0px;
                margin-block-end: 10px;
                margin-right: 20px;
                
                background: linear-gradient(0deg, #175800, #175800), #175800;
            } .Blue-box {
                background-color: #0000ff;
                height: 100px;
                width: 200px;
                color: #ffffff;
                border: 1px solid;
            } .Red-box {
                background-color: #ff0000;
                height: 100px;
                width: 200px;
                color: #ffff00;
                border: 1px solid;
            } .Ip-HeaderH1 {
                position: absolute;
                left: 120px;
                top: 15px;
            } .Ip-HeaderImg {
                position: absolute;
                width: 95px;
                height: 95px;
                left: 5px;
                top: 2.5px;
                background: url(Captura.png);
                border-radius: 145.5px;
            } .Ip-MiFotoMain {
                position: absolute;
                left: 540px;
            } .Ad-HeaderH1 {
                position: absolute;
                left: 120px;
                top: 11px;
                font-size: 24px;
            } .Ad-HeaderImg {
                position: absolute;
                width: 95px;
                height: 95px;
                left: 5px;
                top: 2.5px;
                background: url(Captura.png);
                border-radius: 145.5px;
            } .Ad-Roki {
                position: absolute;
                left: 545px;
            } .Es-HeaderH1 {
                position: absolute;
                left: 120px;
                top: 15px;
            } .Es-HeaderImg {
                position: absolute;
                width: 95px;
                height: 95px;
                left: 5px;
                top: 2.5px;
                background: url(Captura.png);
                border-radius: 145.5px;
            } .Ap-HeaderH1 {
                position: absolute;
                left: 120px;
                top: 15px;
            } .Ap-HeaderImg {
                position: absolute;
                width: 95px;
                height: 95px;
                left: 5px;
                top: 2.5px;
                background: url(Captura.png);
                border-radius: 145.5px;
            } .De-HeaderH1 {
                position: absolute;
                left: 120px;
                top: 15px;
            } .De-HeaderImg {
                position: absolute;
                width: 95px;
                height: 95px;
                left: 5px;
                top: 2.5px;
                background: url(Captura.png);
                border-radius: 145.5px;
            } .TEC-HeaderImg {
                position: absolute;
                width: 95px;
                height: 95px;
                left: 5px;
                top: 2.5px;
                background: url(Captura.png);
                border-radius: 145.5px;
            } .TEC-HeaderH1 {
                position: absolute;
                left: 120px;
                top: 19px;
                font-size: 24px;
            } .TEC-MainImg {
                position: absolute;
                width: 500px;
                border-radius: 130px;
            } .TEC-ButtonBack {
                position: absolute;
                left: 1100px;
            }
